* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-bottom: 1px solid #ff7700;
}

body {
  background: #abc989;
  position: relative;
}

#spinners-loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: white;
  top: -10px;
  position: absolute;
}

.loader-container,
.spinner-container {
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-filter: url(#gooey);
          filter: url(#gooey);
}

.loader-container > * {
  position: absolute;
  display: inline-block;
  left: 0;
  width: 4rem;
  height: 4rem;
  background: #1ee4f2;
  top: 25%;
  border-radius: 50%;
  -webkit-animation: loading 4s infinite;
          animation: loading 4s infinite;
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
  opacity: 0;
}

.loader-container > *:nth-child(1) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.loader-container > *:nth-child(2) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.loader-container > *:nth-child(3) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.loader-container > *:nth-child(4) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes loading {
  50% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
    left: 50%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    left: 100%;
    opacity: 0;
  }
}

@keyframes loading {
  50% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
    left: 50%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    left: 100%;
    opacity: 0;
  }
}

.spinner-path {
  position: relative;
  left: 25%;
  top: 50%;
  width: 10rem;
  height: 10rem;
}

.spinner-path > * {
  -webkit-animation: spinner 3s infinite;
          animation: spinner 3s infinite;
}

.spinner-path > *:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.spinner-path > *:nth-child(1) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.spinner-path > *:nth-child(1):after {
  background: #4285f4;
}

.spinner-path > *:nth-child(2) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.spinner-path > *:nth-child(2):after {
  background: #db4437;
}

.spinner-path > *:nth-child(3) {
  -webkit-animation-delay: 1.5;
          animation-delay: 1.5;
}

.spinner-path > *:nth-child(3):after {
  background: #f4b400;
}

.spinner-path > *:nth-child(4) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.spinner-path > *:nth-child(4):after {
  background: #0f9d58;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.credit {
  position: fixed;
  bottom: 2%;
  right: 2%;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 1.125em;
  color: black;
}

.credit .credit--link {
  color: #1565c0;
  text-decoration: none;
  cursor: pointer;
}

.credit .credit--link:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=index.css.map */