* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.table td,
.table th {
	padding: 0.75rem;
	vertical-align: top;
	border-bottom: 1px solid rgb(255, 119, 0);
}

body {
	background: rgb(171, 201, 137);
	position: relative;
}

#spinners-loading {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: white;
	top: -10px;
	position: absolute;
}

.loader-container,
.spinner-container {
	width: 50%;
	height: 50%;
	position: relative;
	filter: url(#gooey);
}

.loader-container > * {
	position: absolute;
	display: inline-block;
	left: 0;
	width: 4rem;
	height: 4rem;
	background: #1ee4f2;
	top: 25%;
	border-radius: 50%;
	animation: loading 4s infinite;
	transform: scale(0.1);
	opacity: 0;

	&:nth-child(1) {
		animation-delay: 0.5s;
	}

	&:nth-child(2) {
		animation-delay: 1s;
	}

	&:nth-child(3) {
		animation-delay: 1.5s;
	}

	&:nth-child(4) {
		animation-delay: 2s;
	}
}

@keyframes loading {
	50% {
		transform: scale(1.25);
		left: 50%;
		opacity: 1;
	}

	100% {
		transform: scale(0.1);
		left: 100%;
		opacity: 0;
	}
}

.spinner-path {
	position: relative;
	left: 25%;
	top: 50%;
	width: 10rem;
	height: 10rem;

	> * {
		animation: spinner 3s infinite;

		&:after {
			content: ' ';
			display: block;
			position: absolute;
			width: 2rem;
			height: 2rem;
			border-radius: 50%;
		}

		&:nth-child(1) {
			animation-delay: 0.5s;

			&:after {
				background: #4285f4;
			}
		}

		&:nth-child(2) {
			animation-delay: 1s;

			&:after {
				background: #db4437;
			}
		}

		&:nth-child(3) {
			animation-delay: 1.5;

			&:after {
				background: #f4b400;
			}
		}

		&:nth-child(4) {
			animation-delay: 2s;

			&:after {
				background: #0f9d58;
			}
		}
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.credit {
	position: fixed;
	bottom: 2%;
	right: 2%;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-size: 1.125em;
	color: black;

	.credit--link {
		color: #1565c0;
		text-decoration: none;
		cursor: pointer;

		&:hover {
			text-decoration: underline;
		}
	}
}
